/**
* Imports
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');

/**
* Variables
*/
$primary-color: #92c6a9;

$open-sans: 'Open Sans', sans-serif;

/**
* Main styles
*/
* {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: $open-sans;
  font-size: 18px;
  line-height: 28px;
  color: #3c3c3c;
}
.container {
  position: relative;
  width: 90%;
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}
.wrapper {
  opacity: 0;
}

.preload {
  position: fixed;
  z-index: 1000 !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    width: 400px;
    height: 300px;
  }
}

header {
  min-height: 100vh;
  .logo {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 0.5em;
    box-shadow: 0px 0px 20px -5px #333333;
    a {
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: 130px;
      }
    }
  }
  .top-header {
    background-color: $primary-color;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #ffffff;

    font-size: 0.7em;

    .phones {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      div {
        display: block !important;
        &:first-child {
          margin-right: 1em;
        }
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  .menu-header {
    .menu {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          position: relative;
          padding: 0.5em;
          transition: all 0.14s;
          &:last-child {
            padding-right: 0;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            color: $primary-color;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 400;
          }
        }
      }
    }
  }
  .image-header {
    width: 100%;
    position: relative;
    background-image: url('./../image/screen-1.jpg');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    .container {
      z-index: 11;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 100;
        line-height: 40px;
        color: $primary-color;
        display: block;
        background-color: #ffffff;
        width: 33%;
        padding: 0.5em;
        padding-left: 0;
      }
    }
  }
}
.services {
  min-height: 100vh;
  margin-top: 15vh;
  h2 {
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0.5em;
    align-content: center;

    .service {
      a {
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        text-decoration: none;
        img {
          width: 100%;
          height: 100%;
        }
        p {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 0.5em;
          background-color: rgba(255, 255, 255, 0.8);
          color: #000;
        }
      }
    }
  }
}

.about-us {
  min-height: 100vh;
  position: relative;
  background-image: url('./../image/screen-2.jpg');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    .message {
      padding: 5em;
      background-color: #fff;
      border-radius: 4px;
      font-weight: 100;
      text-align: center;
      text-transform: uppercase;
      h3 {
        font-weight: 100;
      }
    }
  }
}

.personal {
  min-height: 100vh;

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
      text-transform: uppercase;
      text-align: center;
      font-weight: 100;
    }

    div {
      div {
        padding: 1em;
        img {
          display: block;
          width: 175px;
          margin: 0 auto;
        }
        h4 {
          font-weight: 100;
        }
        p {
          font-size: 0.7em;
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

footer{
  background-color: #333;
  color: #fff;
  p{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.7em;
  }
}
